@font-face {
    font-family: "Merriweather light";
    src: url("../fonts/Merriweather-Light.ttf");
}

@font-face {
    font-family: "Merriweather bold";
    src: url("../fonts/Merriweather-Bold.ttf");
}

body {
    font-family: "Merriweather light";
    background-image: url("../img/fond_accueil.png");
    background-color: #282828;
    background-repeat: no-repeat;
    background-size: cover;
}

.gris {
    background-color: #282828;
}

#logoSite {
    text-align: left;
}

#contenu {
    text-align: center;
    color: white;
}

#formulaireCreation {
    text-align: left;
    color: white;
}

h5.grandTitre {
    font-size: 42px;
}

button {
    font-family: "Merriweather bold";
}

#blocTitre {
    margin-bottom: 35px;
}

#blocSalon {
    margin-bottom: 30px;
}

#blocCreer > h4 {
    margin-bottom: 15px;
}

#boutonCreer {
    color: white;
    background-color: red;
    border-color: red;
    border-radius: 5px;
    width: 100%;
}

#boutonConfirmer {
    padding: 15px 20%;
}

.formulaireCreation {
    padding: 15px 15px 0 15px;
}

.formulaireCreation:first {
    padding: 0 15px 0 15px;
}

#boutonCreer, #boutonRejoindre {
    color: white;
    background-color: red;
    border-color: red;
    border-radius: 5px;
}

#boutonRejoindre:active, #boutonCreer:active {
    background-color: #ff0000bb;
    border-color: #ff0000bb;
    box-shadow: inset 0 1px 1px rgba(255, 0, 187, 0.075), 0 0 8px rgba(255, 0, 187, 0.8);
}

#boutonRejoindre:focus, #boutonCreer:focus {
    box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.8);
}

/**/

.boutonRouge {
    color: white;
    background-color: red !important;
    border-color: red !important;
    border-radius: 5px;
}

.boutonRouge:active {
    background-color: #ff0000bb !important;
    border-color: #ff0000bb !important;
    box-shadow: inset 0 1px 1px rgba(255, 0, 187, 0.075), 0 0 8px rgba(255, 0, 0, 0.8) !important;
}

.boutonRouge:focus {
    box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.8) !important;
}

/**/

.boutonRouge {
    color: white;
    background-color: red !important;
    border-color: red !important;
    border-radius: 5px;
}

.boutonRouge:active {
    background-color: #ff0000bb !important;
    border-color: #ff0000bb !important;
    box-shadow: inset 0 1px 1px rgba(255, 0, 187, 0.075), 0 0 8px rgba(255, 0, 0, 0.8) !important;
}

.boutonRouge:focus {
    box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.8) !important;
}

#barreRejoindre > input {
    font-size: 14px;
}

#barreRejoindre > button {
    background-color: red;
}