@font-face {
    font-family: "Merriweather light";
    src: url("../fonts/Merriweather-Light.ttf");
}

@font-face {
    font-family: "Merriweather bold";
    src: url("../fonts/Merriweather-Bold.ttf");
}

body {
    margin: 0!important;
    font-family: "Merriweather light";
    overflow: hidden;
}

.room-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.video .head {
    height: 10vh;
    background-color: #000;
}

.video .head .back i {
    font-weight: 500;
    color: #fff;
    opacity: 0.5;
    font-size: 7vh;
    padding: 1.25%;
}

.video-js {
    width: 75vw;
    height: 90vh;
}

.chat {
    width: 25vw;
    height: 100vh;
    display: flex;
    background-color: rgb(61, 58, 58);
    flex-direction: column;
}

.chat .room-name {
    height: 10%;
    min-height: 10%;
    width: 100%;
    background-color: rgb(236, 20, 20);
    text-align: right;
}

.chat .room-name .name{
    font-size: 24px;
    color: #fff;
}

.chat .room-name .users{
    font-size: 20px;
    color: #fff;
}

.chat .room-name .users i{
    font-size: 16px;
}

.chat .content-chat::-webkit-scrollbar,
.chat .chat-container::-webkit-scrollbar {
    display: none;
}


.chat .content-chat {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: scroll;
    flex: 0 0 auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat .chat-container {
    overflow-x: hidden;
    min-height: 80%;    
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat .content-chat .message p {
    min-width: 20px;
    background-color: #f00;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    width: auto;
    font-size: 16px;
    margin: 0;
}

.chat .content-chat .message.left p{
    background-color: #fff;
    color: #000;
    align-self: flex-start;
}

.chat .message {
    max-width: 65%;
    margin: 0 5px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

.chat .message.left {
    align-self: flex-start;
    align-items: start;
}

.chat .message span {
    font-size: 14px;
    color: #fff;
    text-align: right;
}

.chat .message.left span {
    text-align: right;
}

.chat .send-message {
    height: 7%;
    background-color: #fff;
    margin: 5px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat .send-message #usermsg,
.chat .send-message #usermsg:active,
.chat .send-message #usermsg:focus {
    border: none;
    outline: none;
    overflow: hidden;
    resize: none;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
}

.chat .send-message #submitmsg {
    display: none;
}

.chat .send-message .submiticn {
    cursor: pointer;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f00;
    color: #fff;
    border-radius: 0px 4px 4px 0px;
}

.video-js .vjs-big-play-button {
    top: 46%;
    left: 46%;
}

.video-js .vjs-play-progress {
    background-color: #f00;
}
