<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Watchmycovid</title>

        <meta name="description" content="Page d'accueil Watch My Covid">

        <script src="js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    </head>
    <body>
        <header>
            <img id="logoSite" src="img/Logov5.png" alt="Logo Watch My Covid" height=12% width=12%/>
        </header>

        <div id="contenu" class="container">
            <div class="row">
                <div class="col-sm"></div>

                <div class="col-sm">

                    <div class="row" id="blocTitre">
                        <h5 class="grandTitre">WatchMyCovid</h5>

                        <p>
                            La nouvelle plateforme qui permet de visionner des vidéos en groupe et de se protéger
                        </p>
                    </div>

                    <div class="row" id="blocSalon">
                        <h4>Rejoindre une salle</h4>

                        <p>
                            Visionnez un film, une vidéo an groupe avec des amis
                        </p>


                            {{ form_start(form) }}

                            <div class="row">
                            <div class="col-sm">


                            {{ form_widget(form.identifiantSalon, {'attr': {'class': 'form-control rounded', 'placeholder': "Entrez l'identifiant d'un salon"}}) }}
                            {#<input type="search" class="form-control rounded" placeholder="Entrez l'identifiant d'un salon"/>#}
                            </div>

                            <div class="col-4">
                            {{ form_widget(form.valider, {'attr': {'class': 'btn btn-outline-primary boutonRouge', 'id':'boutonRejoindre'}}) }}
                            {#<button type="button" class="btn btn-outline-primary" id="boutonRejoindre">Rejoindre</button>#}
                            </div>

                            </div>

                            {{ form_end(form) }}


                    </div>

                    <div class="row" id="blocCreer">
                        <h4>Pas de salle ? Créez en une !</h4>

                        <div class="col-2"></div>

                        <div class="col-sm">



                            <!--
                            <a href="{{ path('creation_salle') }}" class="btn btn-primary" id="boutonCreer">Créer une salle</a>
                            -->


                            {#<button type="button" class="btn btn-primary" id="boutonCreer">Créer une salle</button>#}
                            <!--<button type="button" class="btn btn-primary" id="boutonCreer">Créer une salle</button>-->

                            <!-- Button trigger modal -->
                            <button type="button" class="boutonRouge btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="boutonCreer">
                                Créer une salle
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content gris">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Créer une salle</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>




                                            <div id="formulaireCreation" class="modal-body">

                                                <form>

                                                    <div class="row formulaireCreation">
                                                        <input type="text" id="inputPseudo" class="form-control rounded" name="pseudonyme" placeholder="Choisissez votre pseudonyme">
                                                    </div>
                                                    <div class="row formulaireCreation">
                                                        <input type="text" id="inputVideo" class="form-control rounded" name="lienYoutube" placeholder="Entrer le lien d'une vidéo youtube">
                                                    </div>

                                                    <div class="row formulaireCreation center">
                                                        ou bien recherchez dans des catégories
                                                    </div>

                                                    <div class="row formulaireCreation">
                                                        <select id="tagRecherche" name="tag" class="form-select" onChange="recupTags(this.value)">
                                                            <option value="" selected></option>
                                                            {% for tag in listeTags %}
                                                                <option value="{{ tag.Nom }}">{{ tag.Nom }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                    <div class="row formulaireCreation">
                                                        <select id="selectResultats" class="form-select" name="recherche" style="display: none;" onChange="mettreLienYoutube(this.value)">
                                                            <option value="" selected></option>
                                                        </select>
                                                    </div>

                                                    <div class="row formulaireCreation" id="boutonConfirmer">
                                                        <input type="submit" class="btn btn-outline-primary boutonRouge">
                                                    </div>
                                                </form>

                                            </div>



                                            <div class="modal-footer">


                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-2"></div>
                    </div>
                </div>

                <div class="col-sm"></div>
            </div>
        </div>

        <footer>
        </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous">
</script>
    <script>

        function recupTags(value) {
            console.log("TEST");

            document.getElementById("selectResultats").style.display = "block";

            $.ajax({
                url : '/api/recherche/'+value,
                type : 'GET',
                dateType : 'html',
                success : function(code_html){
                                result = jQuery.parseJSON(code_html)["resultats"];
                                var element=document.getElementById("selectResultats");
                                element.innerHTML="<option value=\"\" selected></option>";
                                console.log("Success");

                                document.getElementById("selectResultats").value = "";
                                document.getElementById("inputVideo").value="";

                                if (code_html === "[[]]") {
                                    element.style.display = "none";
                                    console.log("NON");
                                    return;
                                }
                                for(var k in result) {
                                    element.innerHTML = element.innerHTML+"<option value=\""+result[k]["Lien"]+"\">"+result[k]["Nom"]+"</option>";
                                }
                            },
            });
        }

        function mettreLienYoutube(value) {
            document.getElementById("inputVideo").value="";
            document.getElementById("inputVideo").value=value;
        }

    </script>
    </body>
</html>