<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://vjs.zencdn.net/5.7.1/video-js.css">
    <link rel="stylesheet" href="{{ asset('css/salle.css') }}">
    <script type="text/javascript" id="www-widgetapi-script"
        src="https://www.youtube.com/s/player/9f996d3e/www-widgetapi.vflset/www-widgetapi.js" async=""></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
        window.console = window.console || function (t) { };
    </script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>
    <style type="text/css">
        .vjs-youtube .vjs-iframe-blocker {
            display: none;
        }

        .vjs-youtube.vjs-user-inactive .vjs-iframe-blocker {
            display: block;
        }

        .vjs-youtube .vjs-poster {
            background-size: cover;
        }

        .vjs-youtube-mobile .vjs-big-play-button {
            display: none;
        }
    </style>
</head>


<body>
    <div class="container room-container">
        <div class="video">
            <div class="head">
                <a href="/" class="back"><i class="fas fa-chevron-left"></i></a>
            </div>
            <!-- modifier url de la video dans src -->
            <video id="vid1" class="video-js vjs-default-skin" controls
                data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "{{video}}"}] }'>
            </video>
        </div>
        <div class="chat">
            <div class="room-name">
                <!-- inserer user admin -->
                <div class="name" id="idSalon" style="text-align:center;">Identifiant de salon {{ idSalon }}</div>
                <!-- inserer users.length -->
                <div class="users" style="text-align:left;">2 <i class="fas fa-user-friends"></i></div>
            </div>
            <div class="chat-container">
                <div class="content-chat" id ="content-chat">
                    <!-- insérer messages chat -->

                   
                </div>
            </div>

            <!-- modifier action -->
            <form name="send-message" action="/test" class="send-message">
                <textarea name="usermsg" id="usermsg" type="text"></textarea>
                <div class="submiticn" onclick="submitForm()">
                    <i class="fas fa-paper-plane"></i>
                </div>
            </form>
        </div>
    </div>
    </div>

</body>
<script
    src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>
<script src="https://vjs.zencdn.net/5.7.1/video.js"></script>
<script src="{{ asset('js/salle.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    function addMessage(){
        $.ajax({
                    url : '/api/salon/'+{{idSalon}}+'/addMessage',
                    type : 'POST',
                    dataType : 'html',
                    data : 'message=' + document.getElementById("usermsg").value+'&id_user={{id_user}}' ,
                    success : function(code_html, statut){
                        document.getElementById("usermsg").value="";
                    },

                    error : function(resultat, statut, erreur){

                    },

                    complete : function(resultat, statut){

                    }

                });
    }
    $(document).ready(() => {
        retrieveMsg();
    })
    // fonction à utiliser a l'update du chat
    function scrollBot() {
        $('.chat-container').scrollTop($('.chat-container')[0].scrollHeight);
    }
    function retrieveMsg(){
        $.ajax({
            url : '/api/salon/'+{{idSalon}}+'/retrieveMessages',
            type : 'GET',
            dataType : 'html',
            success : function(code_html, statut){
                result = jQuery.parseJSON(code_html);
                var element=document.getElementById("content-chat");
                element.innerHTML="";
                if (code_html === "[[]]")
                    return;
                for(var k in result) {
                    if (result[k]['id_user']=='{{id_user}}'){
                        element.innerHTML= element.innerHTML+"<div class=\"message\"><span class=\"user-name\">"+result[k]['pseudo']+"</span><p>"+result[k]['content']+"</p><span class=\"time\">"+result[k]['date']+"</span></div>";
                    }else{
                        element.innerHTML= element.innerHTML+"<div class=\"message left\"><span class=\"user-name\">"+result[k]['pseudo']+"</span><p>"+result[k]['content']+"</p><span class=\"time\">"+result[k]['date']+"</span></div>";
                    }
                }
                scrollBot();
            },

            error : function(resultat, statut, erreur){

            },

            complete : function(resultat, statut){

            }
        });
      }

        const interval = setInterval(function() {
                retrieveMsg();
                scrollBot();
          }, 5000);
    function submitForm() {
        //$('.send-message').submit()
        addMessage();
    }
</script>

<script>
    var flag = true;
    var status;
    var firstTime = true;
    $('document').ready(function(){
        videoStatus = false;
        if(firstTime){
            if({{ idAdmin  }} != {{ id_user }})
            {
                $.ajaxSetup({async: false});
                updateLecteurTimeCode({{ idSalon }});
                $.ajaxSetup({async: true});
                firstTime = false;
            }
        }
        lecteurVideo = document.getElementById("vid1");
        //Lancer la MAJ quand play pause et changment de time de la video

        videojs('vid1').on("click", function(event){
            event.preventDefault();
        });

        videojs('vid1').on('timeupdate', function () {
            if({{ idAdmin  }} != {{ id_user }}){
                //setLecteur({{ idSalon }})
            }
        });

        videojs('vid1').on("pause", function () {
            if({{ idAdmin  }} == {{ id_user }}){
                videoStatus = false
                console.log(videoStatus)
                //setLecteur({{ idSalon }})
            }
        });

        videojs('vid1').on("play", function () {
            if({{ idAdmin  }} == {{ id_user }}){
                videoStatus = true;
                console.log(videoStatus)
                //setLecteur({{ idSalon }})
            }
        });

        if({{ idAdmin  }} == {{ id_user }}){
                const interval = setInterval(function() {
                    if(videojs('vid1').paused() == false) {
                        setLecteur({{ idSalon }});
                        flag = true;
                    }
                    else{
                        if(flag == true){
                            setLecteur({{ idSalon }});
                            flag = false;
                        }
                    }
                }, 1000);
        }

    });



    if({{ idAdmin  }} != {{ id_user }}){
            const interval = setInterval(function() {
                updateLecteurPlayPause({{ idSalon }});
            }, 1000);
    }

    function updateLecteurPlayPause(idSalon){
            $.ajax({
                url : '/api/salon/'+idSalon+'/updateLecteur',
                type : 'POST',
                dataType : 'html',
                data : 'json',
                success : function(data, statut){
                    //console.log(donnees);
                    donnees = jQuery.parseJSON(data)
                    console.log(donnees)
                    let timeCode = donnees[0];
                    let status = donnees[1];
                    //videojs('vid1').currentTime(timeCode);
                    console.log(videoStatus)
                    if(status == "true"){
                        console.log('play')
                        videojs('vid1').play()
                        videoStatus = true;
                    }
                    else if(status == "false"){
                        console.log('pause');
                        videojs('vid1').pause();
                        videoStatus = false;
                    }
                },
            });
    }
    function updateLecteurTimeCode(idSalon){
        console.log('timeCode')
        $.ajax({
            url : '/api/salon/'+idSalon+'/updateLecteur',
            type : 'POST',
            dataType : 'html',
            data : 'json',
            success : function(data, statut){
                donnees = jQuery.parseJSON(data)
                let timeCode = donnees[0];
                let status = donnees[1];
                videojs('vid1').currentTime(timeCode);
            },
        });
    }

    function setLecteur(idSalon){
        lien = videojs('vid1').currentSrc();
        time = Math.floor(videojs('vid1').currentTime());

        status = true;
        if(videojs('vid1').paused()) {
            status = true;
        }
        if(videojs('vid1').paused()) {
            status = false;
        }
        console.log(status)
            $.ajax({
                url : '/api/salon/' + idSalon + '/setLecteur',
                type : 'POST',
                dataType : 'json',
                data: {
                    'timecode': time,
                    'status': status,
                    'lien': lien['src']
                },
                //data : 'timecode=' + time+'&status='+status + '&lien=' + lien['src'],
                success : function(response){
                    console.log("success");
                },
            });
    }

</script>
</html>